@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0 20px;
}

#tentacles {
    width: 50px;
}

.header {
    background-color: lightblue;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;  /* Makes the header span the full width */
    box-sizing: border-box; /*make it unafffected*/
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    color: black;
}

/* Step 3 of quest 2 */
.stats-container {
    display: flex;
    justify-content: space-around; /* Distribute items evenly with space around */
    align-items: center; /* Align items vertically in the center */
}

.stats-container:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

.stats-card {
    background-color: #a8b0bc;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
    transform: scale(1.05);
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}

#button-container {
    text-align: center;
    margin: 20px 0;
}

#button-container button {
    background-color: lightblue;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#button-container button:hover {
    background-color: #333;
}

/* Game container */
#games-container {
    margin: 20px;
}

.game {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.game.funded {
    background-color: #dff0d8;
}

.game.unfunded {
    background-color: #f2dede;
}

.game h3 {
    margin: 0;
}
  